.img {
  float: left;
  width: 122px;
  height: 108px;

}


.div1 {
  background-color: grey;
  width: 279px;
  height: 108px;
  float: left;
  margin-left: 15px;
}

.div2 {
  background-color: grey;
  width: 513px;
  height: 108px;
  float: left;
  margin-left: 15px;

}

header {
  padding: 12px;
}

.text {
  text-align: right;
  color: white;
  padding: 23px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  width: 980px;
  flex-direction: column;
  display: flex;
}

.lain {
  width: 945px;
  height: 1px;
  background-color: black;


  margin-left: 11px;
}

.table {
  background-color: grey;
  width: 170px;
  height: 335px;
  float: left;
  margin: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;

}
.table ul{
  text-align: left;
  list-style: none;
  padding: 0;
}


.wrapper {
  width: 960px;
  margin: 0 auto;
  font: 14px arial;
  line-height: 22px;
}


.div3 {
  width: 717px;
  height: 210px;
  background-color: #dcdcdc;
  float: left;
  margin: 10px;
  padding: 10px;
  color: #777777;
  text-align: left;
}

a {
  color: white;
}


.div4 {
  float: left;
  text-align: left;
  margin: 10px;
}