 

.slick-slider{}

.slick-slider.slick-initialized{}

.slick-slider.slick-dotted{}

.slick-list {}

.slick-track{
    display: flex;
}

.slick-slide{}

.slick-slide.slick-active{}

.slick-slide.slick-current{}

.slick-slide.slick-center{}

.slick-slide.slick-cloned{}

.slick-arrow{}

.slick-arrow.slick-prev{}

.slick-arrow.slick-next{}

.slick-arrow.slick-disabled{}

.slick-dots{}
.slick-dots li{}

.slick-dots li.slick-active{}

.slick-dots li button{}

.slider{
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    top: 39%;
    z-index: 5000;
    font-size: 0;
    width: 34px;
    height: 58px;
    border: 0;
}
.slick-arrow.slick-prev{
    left: 22.5%;
    background: url("../img/left_button.png") 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next{
    right: 24.5%;
    background: url("../img/right_button.png") 0 0 / 100% no-repeat;
}
.slider__item{

}